<!-- index.html.erb (affiche tous les événements) : -->

<!-- Début de la page d'accueil affichant la liste des événements -->

<!-- Lien pour accéder à la page de modification du profil (changement de l'email et du mot de passe) -->
<%= link_to "Edit Profile", edit_user_registration_path %>


<h1>Événements à venir</h1>                               <!-- Titre pour la section des événements futurs -->
<ul>
  <% @future_events.each do |event| %>                    <!-- Itère sur chaque événement futur dans la collection @future_events -->
    <li><%= link_to event.title, event_path(event) %> - <%= event.start_date.strftime('%d %b %Y') %></li>  
<!-- Lien vers chaque événement avec son titre et sa date de début formatée -->
  <% end %>
</ul>

<h2>Événements passés</h2>                                 <!-- Titre pour la section des événements passés -->
<ul>
  <% @past_events.each do |event| %>                       <!-- Itère sur chaque événement passé dans la collection @past_events -->
    <li><%= link_to event.title, event_path(event) %> - <%= event.start_date.strftime('%d %b %Y') %></li>  
    <!-- Lien vers chaque événement passé avec son titre et sa date de début formatée -->
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to "Créer un nouvel événement", new_event_path, class: "btn btn-primary" %>
<% end %>
