<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Eventbrite" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navbar -->
    <header class="navbar">
      <div class="navbar-container">
        <%= link_to "Accueil", root_path, class: "nav-button" %>
        
        <% if user_signed_in? %>
          <%= link_to "Mon profil", user_path(current_user), class: "nav-button" %>
          <%= link_to "Éditer le profil", edit_user_registration_path, class: "nav-button" %> <!-- Route Devise pour l'édition du profil -->
          <%= link_to "Mes inscriptions", events_user_path(current_user), class: "nav-button" %> <!-- Nom correct de la route -->
          <%= link_to "Créer un événement", new_event_path, class: "nav-button" %>
          <%= form_with url: destroy_user_session_path, method: :delete, class: "nav-form" do %>
            <%= submit_tag "Se déconnecter", class: "nav-button" %>
          <% end %>
        <% else %>
          <%= link_to "S'inscrire", new_user_registration_path, class: "nav-button" %>
          <%= link_to "Se connecter", new_user_session_path, class: "nav-button" %>
        <% end %>
      </div>
    </header>

    <!-- Messages flash pour les notifications -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %> <!-- Contenu principal -->
  </body>
</html>
